@import url(/Vreal/header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: calc(100vh - 9vh);
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-login .content h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form input:focus {
    border-color: #440f65;
    outline: none;
}

form button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #b660ec;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: 0.3s ease;
}

form button:hover {
    background: #8b2bc7;
}

.register-link {
    display: block;
    margin-top: 15px;
    margin-left: 12px;
    text-decoration: none;
    font-size: 14px;
    color: #4e1472;
    border: none;
    background-color: white;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: none;
    cursor: pointer;
}